<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
		<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
